
{% extends 'base2.html' %}

{% block content %}

    <h3 class="my-4 text-center">My Curriculum Vitae, {% now "jS F Y " %}</h3>
    <h3 class="text-center font-italic mb-4">{{ profile.name }}</h3>
    <h5>Email  : {{ profile.email }}</h5>
    <h5>Phone  : {{ profile.phone }}</h5>
    <h5>Mobile : {{ profile.mobile }}</h5>
    <hr>
    <h5>About Me</h5>
    <p>{{ profile.summary|safe }}</p>
    <hr>
    <b>School</b> : {{ profile.school }}
    <hr>
    <b>University</b> : {{ profile.university }}
    <hr>
    <b>Degree</b> : {{ profile.degree }}
    <hr>
    <h5>Employment History</h5>
    <p>{{ profile.previous_work|safe }}</p>
    <hr>
    <h5>Skills</h5>
    <p>{{ profile.skills|safe }}</p>
<hr>

{% endblock content %}