
{% extends 'base2.html' %}

{% block title %}
    CV Output
{% endblock title %}

{% load static %}

{% block content %}

    <h4 class="my-4 text-center">My Curriculum Vitae, {% now "jS F Y " %}</h4>
    <h5 class="text-center font-italic mb-4">{{ profile.name }}</h5>
    
    <h6>Email  : {{ profile.email }}</h6>
    <h6>Phone  : {{ profile.phone }}</h6>
    <h6>Mobile : {{ profile.mobile }}</h6>
    <hr>

    <h6>About Me</h6>
    <div class="cv">
        <p>{{ profile.summary|safe }}</p>
    </div>
    <hr>

    <h6>School</h6>
    <div class="cv">
        <p>{{ profile.school|safe }}</p>
    </div>
    <hr>

    <h6>University</h6>
    <div class="cv">
        <p>{{ profile.university|safe }}</p>
    </div>
    <hr>

    <h6>Degree</h6>
    <div class="cv">
        <p>{{ profile.degree|safe }}</p>
    </div>
    <hr>

    <h6>Employment History</h6>
    <div class="cv">
        <p>{{ profile.previous_work|safe }}</p>
    </div>
    <hr>

    <h6>Skills</h6>
    <div  class="cv">
        <p>{{ profile.skills|safe }}</p>
    </div>
    <hr>

{% endblock content %}