
{% extends 'base.html' %}

{% block title %}
    User List
{% endblock title %}
{% load static %}
{% block content %}

<div class="container">
    <h1 class="text-info text-center my-4">CV Profile List</h1>
    {% for profile in profiles %}

        <div class="row pt-3">
            <div class="col-md-6 font-weight-bold lead">
                {{ profile.name }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <p> {{ profile.summary|striptags }}</p>
            </div>
            <div class="col-md-4">
                <a href="{% url 'update' profile.id %}"
                    class="btn btn-outline-warning text-dark btn-sm mr-2">Update</a>

                <a href="{% url 'cv' profile.id %}"
                    class="btn btn-outline-warning text-dark btn-sm">Download</a>
            </div>
        </div>
        <hr>
    {% endfor %}
</div>

{% endblock content %}